* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Hide ScrollBar */
body::-webkit-scrollbar {
  display: none;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
}
